/* COLORS
============
blue:   #55ACEE;
grey1:  #292F33;
grey2:  #66757F;
grey3:  #8899A6;
grey4:  #CCD6DD;
grey5:  #E1E8ED;
white:  #F5F8FA;
purple: #563444;
*/


body {
  background: #292F33 url(../images/bg.png);
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", sans-serif;
}

header {
  height: 45px;
  margin: 0px;
  padding: 0px;
  background: #FFFFFF;
}

header a {
  text-decoration: none;
}

header ul {
  list-style: none;
  display: inline;
  margin: 0px;
  padding: 0px;
}

header li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

#menu {
  float: left;
  z-index: 10;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 15px;
  font-size: 13px;
  text-align: left;
}

#menu a {
  color: #66757F;
}

#menu li {
  padding: 11px 17px;
}

#menu li:hover a {
  color: #55ACEE;
}

#menu li:hover {
  border-bottom: 4px solid #55ACEE;
}

#logo {
  float: left;
  width: 100%;
  z-index: 1;
  color: #55ACEE;
  position: relative;
  top: 0px;
  text-align: center;
}

#search {
 float: right;
 z-index: 10;
 position: absolute;
 right: 0;
 top: 14px;
}

#search a {
  color: #66757F;
}

#search li {
  padding: 11px 17px;
}

#search li:hover a {
  color: #55ACEE;
}



#wrapper {
  margin: 10px auto;
  width: 890px;
}

#sidebar {
  float: left;
  width: 290px;
}

#sidebar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sidebar-title {
  color: #66757F;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}

.sidebar-title a {
  color: #55ACEE;
  text-decoration: none;
}

.sidebar-title a:hover {
  color: #55ACEE;
  text-decoration: underline;
}

.sidebar-change {
  font-size: 12px;
}

#profile, #who-to-follow, #trending-topics, #copyrights {
  background: #FFFFFF;
  border-radius: 6px;
  margin: 0px 0px 10px 0px;
}

#profile {
  padding: 0px;
}

#profile-info {
  height: 145px;
  border-radius: 6px 6px 0px 0px;
  background: url('../images/profile_bg.png');
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #1e1e1d;
}

#profile-wrap {
  z-index: 50;
  position: absolute;
  top: 55px;
  text-align: center;
  width: 290px;
}

#profile-info-gradient {
  height: 120px;
  position: relative;
  top: 25px;
  z-index: 10;
  border-radius: 5px 5px 0px 0px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.5)));
}

#profile-info:hover {
  cursor: pointer;
}

#profile-info a {
  color: #FFFFFF;
  text-decoration: none;
}

#profile-pic {
  padding-top: 17px;
  position: relative;
}

#profile-name {
  margin: 4px 0px 3px 0px;
  font-size: 22px;
  font-weight: 600;
}

#profile-name a:hover{
  text-decoration: underline;
}

#profile-username {
  font-size: 14px;
}

#profile-pic img {
  border: 3px solid #FFFFFF;
  border-radius: 5px;
}

#profile-stats {
  height: 45px;
  text-align: left;
  border-bottom: 1px solid #E1E8ED;
}

table {
  margin-top: 7px;
  margin-left: 15px;
}

th {
  color: #8899A6;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 35px 0px 0px;
}

td {
  color: #55ACEE;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 35px 0px 0px;
}

#profile-input {
  background: #DDEEFC;
  border-radius: 0px 0px 6px 6px;
  padding: 12px;
}

#profile-input input {
  height: 20px;
  width: 250px;
  padding: 4px 8px;
  font-size: 12px;
  color: #8899A6;
  border-radius: 3px;
  border: 1px solid #55ACEE;
}

#who-to-follow, #trending-topics, #copyrights {
 padding: 15px;
}

.user-suggestion {
  display: flex;
  margin-bottom: 10px;
  margin-top:10px;
}

.user-suggestion-pic {
  float: left;
  margin-right: 10px; 
}

.user-suggestion-pic img {
  border-radius: 5px;
}

.user-suggestion-info {
  float: right;
  width: 196px;
  font-size: 13px;
}

.user-suggestion-info a {
  color: #E1E8ED;
  text-decoration: none;
}

.user-suggestion-info a:hover {
  text-decoration: none;
}

.suggestion-name a {
  color: #292F33;
  font-weight: 600;
}

.suggestion-name a:hover {
  color: #55ACEE;
  text-decoration: underline;
}

.follow-button {
  width: 80px;
  margin: 3px 0px 0px 0px;
  padding: 5px 0px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #E1E8ED;
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F5F7 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F5F7 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F5F7 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F5F7 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F5F7 100%);
  font-weight: 700;
  color: #292F33;
}

.follow-button i {
  color: #55ACEE;
  padding-right: 1px;
}

.follow-button a {
  color: #292F33;
  text-decoration: none;
}

.follow-button:hover {
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #CCD6DD 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #CCD6DD 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #CCD6DD 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #CCD6DD 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #CCD6DD 100%);
}

.user-suggestion-close {
  float: right;
  color: #CCD6DD;
}

#connect {
  font-size: 13px;
}

#connect a {
  text-decoration: none;
  color: #55ACEE;
}

#connect a:hover {
  text-decoration: underline;
}

#trending-topics {
  font-size: 13px;
}

#trending-topics a {
  color: #55ACEE;
  text-decoration: none;
}

#trending-topics a:hover {
  text-decoration: underline;
}

#trending-topics li {
  padding: 2px 0px;
}

#copyrights {
  font-size: 12px;
  color: #8899A6;
  line-height: 18px;
}

#copyrights a {
  color: #8899A6;
  text-decoration: none;
}

#copyrights a:hover {
  text-decoration: underline;
}

#copyrights:hover a {
  color: #292F33;
}

#copyrights li {
  display: inline;
  padding: 0px 3px;
}

#tweetfeed {
  float: right;
  width: 590px;
  background: #FFFFFF;
  border-radius: 6px;
}

#tweetfeed-title {
  color: #66757F;
  font-size: 22px;
  font-weight: 300;
  padding: 12px;
}

#tweetfeed-new {
  background: #EEEEEE;
  text-align: center;
  padding: 12px 0px;
  font-size: 13px;
  border-top: 1px solid #CCD6DD;
}

#tweetfeed-new:hover {
  background: #CECECE;
  cursor: pointer;
}

#tweetfeed-new a {
  color: #55ACEE;
  text-decoration: none;
}

.tweetfeed-tweet {
  padding: 13px;
  display: flex;
  border-top: 1px solid #CCD6DD;
}

.tweetfeed-tweet-pic {
  float: left;
  margin-right: 10px;
}

.tweetfeed-tweet-pic img {
  width: 47px;
  height: 47px;
  border-radius: 5px;
}

.tweetfeed-tweet-info {
  float: left;
  width: 505px;
  font-size: 14px;
  line-height: 18px;
}

.tweetfeed-tweet-info a {
  color: #55ACEE;
  text-decoration: none;
}

.tweetfeed-tweet-info a:hover {
  text-decoration: underline;
}

a.tweetfeed-name {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}

a.tweetfeed-name:hover {
  color: #55ACEE;
  text-decoration: underline;
}

a.tweetfeed-username, a.tweetfeed-time {
  color: #66757F;
  text-decoration: none;
  font-size: 12px;
}

a.tweetfeed-time:hover {
  color: #55ACEE;
  text-decoration: underline;
}


.tweetfeed-tweet-footer {
  clear: both;
  font-size: 12px;
  margin: 5px 0px;
}

.tweetfeed-tweet-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tweetfeed-tweet-footer li {
  display: inline;
  padding: 0px 0px 0px 13px;
  margin: 0;
}

.tweetfeed-tweet-footer li i {
  padding-right: 5px;
}

.tweetfeed-tweet:hover .footer-expand a {
  color: #55ACEE;
}

.footer-expand {
  float: left;
}

.footer-expand a {
  color: #8899A6;
  text-decoration: none;
}

.footer-expand a:hover {
  text-decoration: underline;
}

.footer-menu {
  float: right;
}

.footer-menu a {
  color: #E1E8ED;
  text-decoration: none;
}

.tweetfeed-tweet:hover .footer-menu a {
  color: #66757F;
}

.footer-menu a:hover {
  text-decoration: underline;
}
