body {
  margin: 0px;
  background: #49C4FF;
  font-family: "Helvetica Neue";
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 45px;
  background: #ffffff;
  display: flex;
  align-items: center;
  z-index: 20;
  position: fixed;
  top: 0px;
  right: 0px
}

#wrapper {
	width: 890px;
  margin: 55px auto;
  padding: 0px;
}

#sidebar {
  float: left;
  width: 290px;
  margin: 0px;
  padding: 0px;
}

#tweetfeed {
  background: white;
  float: right;
  width: 590px;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}

#profile, #who-to-follow, #trends, #copyrights {
  width: 260px;
  margin: 0px 0px 10px 0px;
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
}

.sidebar-title {
  color: #66757F;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 8px;
}

.changes {
  font-size: 12px;
}

#sidebar a {
  color: #FF645F;
}

#sidebar a:hover {
  text-decoration: underline;
}

#trends {
  font-size: 13px;
  line-height: 22px;
}