body {
  margin: 0px;
  background: #49C4FF;
  font-family: "Helvetica Neue";
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 45px;
  background: #ffffff;
  display: flex;
  align-items: center;
  z-index: 20;
  position: fixed;
  top: 0px;
  right: 0px
}

#wrapper {
	width: 890px;
  margin: 55px auto;
  padding: 0px;
}

#sidebar {
  float: left;
  width: 290px;
  margin: 0px;
  padding: 0px;
}

#tweetfeed {
  background: white;
  float: right;
  width: 590px;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}

#profile, #who-to-follow, #trends, #copyrights {
  width: 260px;
  margin: 0px 0px 10px 0px;
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
}

.sidebar-title {
  color: #66757F;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 8px;
}

.changes {
  font-size: 12px;
}

#sidebar a {
  color: #FF645F;
}

#sidebar a:hover {
  text-decoration: underline;
}

#trends {
  line-height: 22px;
}

#copyrights {
  font-size: 12px;
  font-weight: 400;
  color: #8899A6;
  line-height: 18px;
}

#copyrights a {
  color: #8899A6;
}

#copyrights:hover a {
  color: #66757F;
}

#copyrights ul {
  margin: 0px;
  padding: 0px;
}

#copyrights li {
  margin: 0px;
  padding: 0px 3px;
  display: inline;
  list-style: none;
}

.suggestion {
  display: flex;
  margin-bottom: 10px;
}

.suggestion-pic {
  float: left;
  height: 100%;
  margin-right: 10px;
}

.suggestion-pic img {
  border-radius: 5px;
}

.suggestion-info {
  float: right;
  width: 195px;
  color: #8899A6;
}

.suggestion-info b {
  color: #292F33;
}

.suggestion-close {
  color: #E1E8ED;
  font-size: 15px;
}



.follow-button {
  width: 80px;
  margin: 3px 0px 0px 0px;
  padding: 5px 0px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #E1E8ED;
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F5F7 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F5F7 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F5F7 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F5F7 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F5F7 100%);
}